<title>{{title}}</title>

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/blog-post.css" rel="stylesheet">

<div class="container jumbotron">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4">{{title}}</h1>

            <p class="lead">
                by
                <a href="#">User</a>
            </p>
            <hr>
            <p><b>Location: </b>{{location}}</p>
            <hr>
            <p><b>Posted on: </b>{{datePosted}}</p>
            <hr>
            <p><b>Date: </b>{{date}}</p>
            <hr>
            <p><b>Time: </b>{{time}}</p>
            <hr>
            <p>{{description}}</p>
            <hr>
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form action="/comment/create" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>