<title>{{activity.title}}</title>

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<div class="container jumbotron mt-4">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4">{{activity.title}}</h1>

            <p class="lead">
                by
                <a href="/profile/{{user.username}}">{{user.username}}</a>
            </p>
            <hr>
            <p><b>Location: </b>{{activity.location}}</p>
            <hr>
            <p><b>Posted on: </b>{{activity.createdAt}}</p>
            <hr>
            <p><b>Date: </b>{{activity.date}}</p>
            <hr>
            <p><b>Time: </b>{{activity.time}}</p>
            <hr>
            <p>{{activity.description}}</p>
            <hr>
            {{#if isLoggedIn.length}}
            {{#if isParticipated}}
            <form action="/activities/unparticipate/{{activity.id}}" method="POST">
                <button type="submit" class="btn btn-danger">Unparticipate</button>
            </form>
            {{else}}
            <form action="/activities/participate/{{activity.id}}" method="POST">
                <button type="submit" class="btn btn-success">Participate</button>
            </form>
            {{/if}}
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form action="/comment/create/{{activity.id}}" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="content"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            {{#if error.length}}
            <p>Error:</p>
            <ul>
                {{#each error}}
                <li class="text-danger">{{this}}</li>
                {{/each}}
            </ul>
            {{/if}}
            {{/if}}
            <h2>Participants</h2>
            <hr>
            {{#each participants}}
            <div class="media mb-4">
                <div class="media-body">
                    <a href="/profile/{{participant}}"><b>{{participant}}</b></a>
                </div>
            </div>
            <hr>
            {{/each}}
            <h2>Comments</h2>
            <hr>
            {{#each comments}}
            <div class="media mb-4">
                <div class="media-body">
                    <h5 class="mt-0"><b>{{author}}</b></h5>
                    <p>{{content}}</p>
                    {{#if isAuthor}}
                    <form action="/comment/delete/{{id}}" method="POST">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    {{/if}}
                </div>
            </div>
            <hr>
            {{/each}}
        </div>
    </div>
</div>