<title>{{title}}</title>

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/blog-post.css" rel="stylesheet">

<div class="container jumbotron">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4">{{title}}</h1>

            <p class="lead">
                by
                <a href="/profile/{{username}}">{{username}}</a>
            </p>
            <hr>
            <p><b>Location: </b>{{location}}</p>
            <hr>
            <p><b>Posted on: </b>{{createdAt}}</p>
            <hr>
            <p><b>Date: </b>{{date}}</p>
            <hr>
            <p><b>Time: </b>{{time}}</p>
            <hr>
            <p>{{description}}</p>
            <hr>
            {{#if isLoggedIn.length}}
            <form action="/activities/participate/{{id}}" method="POST">
                <button type="submit" class="btn btn-success">Participate</button>
            </form>
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form action="/comment/create/{{id}}" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="content"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            {{/if}}
            <h2>Participants</h2>
            <hr>
            {{#each participants}}
            <div class="media mb-4">
                <div class="media-body">
                    <a href="/profile/{{participant}}"><b>{{participant}}</b></a>
                </div>
            </div>
            <hr>
            {{/each}}
            <h2>Comments</h2>
            <hr>
            {{#each comments}}
            <div class="media mb-4">
                <div class="media-body">
                    <h5 class="mt-0"><b>{{author}}</b></h5>
                    {{content}}
                </div>
            </div>
            <hr>
            {{/each}}
        </div>
    </div>
</div>