<title>Activities</title>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-4">Activities</h1>
            <div class="container" id="container">
                <div class="jumbotron" id="jumbotron">
                    <h1 class="display-4">Create Activity</h1>
                    <hr class="my-4">
                    <a class="btn btn-primary btn-lg" href="/activities/create" role="button">Create</a>
                </div>
                {{#each packet}}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{title}}</h2>
                        <p class="card-text">{{description}}</p>
                        <a href="/activities/{{id}}" class="btn btn-primary">Read more</a>
                        <a href="/activities/edit/{{id}}" class="btn btn-secondary">Edit</a>
                        <form action="/activities/delete/{{id}}" method="POST">
                            <input type="submit" value="Delete" class="btn btn-secondary">
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on: {{date}} by
                        <a href="#">User</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>