<link rel="stylesheet" href="CSS/create-activity.css">

<div class="container mt-10" id="container">
  <div class="jumbotron mt-4">
    <form action="/activities/create" method="POST">
    <h3 class="text-center">Create Activity</h3>
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label" style="font-size:25px">Title</label>
        <input type="text" class="form-control form-input" id="input-title" name="title" value="{{activity.title}}"
          placeholder="Title">
      </div>
      <div class="form-group row">
        <label for="location" class="col-sm-2 col-form-label" style="font-size:25px">Location</label>
        <input type="text" class="form-control form-input" id="input-location" name="location"
          value="{{activity.location}}" placeholder="Location">
      </div>
      <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label" style="font-size:25px">Date</label>
        <input type="date" class="form-control form-input" id="input-date" name="date" value="{{activity.date}}"
          placeholder="Date">
      </div>
      <div class="form-group row">
        <label for="time" class="col-sm-2 col-form-label" style="font-size:25px">Time</label>
        <input type="time" class="form-control form-input" id="input-time" name="time" value="{{activity.time}}"
          placeholder="Time">
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label m-1" style="font-size:25px">Description</label>
        <textarea type="text" class="form-control form-input" id="input-description" name="description"
          value="{{activity.description}}" placeholder="Description"></textarea>
      </div>
      <center>
        <input type="submit" value="Create Activity" class="btn btn-lg btn-primary">
      </center>
    </form>
    {{#if error.length}}
    <p>Errors:</p>
    <ul>
      {{#each error}}
      <li class="text-danger">{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
</div>