<div class="container p-3 my-3 bg-dark text-white">
    <h5 class="text-center">Manage Profile</h5>
    <div class="col-md-3 col-sm-12">
        <div class="register-form">
            <form action="/profile/updateProfile/{{user._username}}" method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-controll" name="username" placeholder="User Name"
                        value="{{user._username}}">
                </div>
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-controll" name="firstName" placeholder="First Name"
                        value="{{user._firstName}}">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-controll" name="lastName" placeholder="Last Name"
                        value="{{user._lastName}}">
                </div>
                <div class="form-group">
                    <label>Height (cm)</label>
                    <input type="text" class="form-controll" name="height" placeholder="Height (cm)"
                        value="{{user._height}}">
                </div>
                <div class="form-group">
                    <label>Weight (kg)</label>
                    <input type="text" class="form-controll" name="weight" placeholder="Weight (kg)"
                        value="{{user._weight}}">
                </div>
                <button type="submit" class="btn btn-success">Save Changes</button>
            </form>
            {{#if error.length}}
            <p>Errors:</p>
            <ul>
                {{#each error}}
                <li class="text-danger">{{this}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </div>
</div>