<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="container" id="container">
                {{#each usersActivities}}
                <div class="card mb-4 mt-4">
                    <div class="card-body">
                        <h2 class="card-title">{{title}}</h2>
                        <p class="card-text"><b>Date</b>: {{date}}</p>
                        <p class="card-text"><b>Time</b>: {{time}}</p>
                        <div class="row">
                            <a href="/activities/{{id}}" class="btn btn-primary m-1">Read more</a>
                            {{#if ../isLoggedIn.length}}
                            <a href="/activities/update/{{id}}" class="btn btn-success m-1">Update</a>
                            <form action="/activities/delete/{{id}}" method="POST">
                                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                <input type="submit" value="Delete" class="btn btn-danger m-1">
                            </form>
                            {{/if}}
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on: {{createdAt}} by
                        <a href="/profile/{{username}}">{{username}}</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>