<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-4">Activities</h1>
            <div class="container" id="container">
                {{#each usersActivities}}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{title}}</h2>
                        <p class="card-text"><b>Date</b>: {{date}}</p>
                        <p class="card-text"><b>Time</b>: {{time}}</p>
                        <a href="/activities/{{id}}" class="btn btn-primary">Read more</a>
                        {{#if ../isLoggedIn.length}}
                        <a href="/activities/update/{{id}}" class="btn btn-secondary">Update</a>
                        <form action="/activities/delete/{{id}}" method="POST">
                            <input type="submit" value="Delete" class="btn btn-secondary">
                        </form>
                        {{/if}}
                    </div>
                    <div class="card-footer text-muted">
                        Posted on: {{createdAt}} by
                        <a href="/profile/{{username}}">{{username}}</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>