{{#if user}}
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="jumobotron">
            <h5 class="text-center">{{_username}}</h5>
            <p>Name: {{_firstName}} {{_lastName}}</p>
            <p>Birth date: {{_dateOfBirth}}</p>
            <p>Height: {{_height}} cm</p>
            <p>Weight: {{_weight}} kg</p>
            <div class="row">
                <a class="btn btn-success p-1" href="#">View activities</a>
                {{#if _profileAuth}}
                    <form action="/profile/manageProfile" method="GET">
                        <button class="btn btn-success" type="submit">Manage profile</button>
                    </form>
                    <form action="/profile/deleteProfile" method="POST">
                        <button class="btn btn-success" type="submit">Delete profile</button>
                    </form>
                {{/if}}    
            </div>
        </div>
    </div>
{{else}}
    <h1>INGEN PROFIL HÄR!!!!</h1>
{{/if}}