{{#if user}}
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="jumobotron">
            <h3 class="text-center">{{user._username}}</h3>
            <p><b>Name: </b>{{user._firstName}} {{user._lastName}}</p>
            <p><b>Birth date: </b>{{user._dateOfBirth}}</p>
            <p><b>Gender: </b>{{user._gender}}</p>
            {{#if user._height}}
            <p><b>Height: </b>{{user._height}} cm</p>
            {{/if}}
            {{#if user._weight}}
            <p><b>Weight: </b>{{user._weight}} kg</p>
            {{/if}}
            <div class="row">
                <form action="/activities/by/{{user._username}}" method="GET">
                    <button class="btn btn-primary m-1" type="submit">View Activities</button>
                </form>
                {{#if user._profileAuth}}
                    <form action="/profile/manageProfile/{{user._username}}" method="GET">
                        <button class="btn btn-success m-1" type="submit">Manage Profile</button>
                    </form>
                    <form action="/profile/deleteProfile/{{user._username}}" method="POST">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <button class="btn btn-danger m-1" type="submit">Delete Profile</button>
                    </form>
                {{/if}}    
            </div>
        </div>
    </div>
{{else}}
    <h1>No profile with that username</h1>
{{/if}}